<% if admin_page? %>
<h2> Admin Login </h2>
<br>
<form action="/login" method="POST" style="border:1px solid #ccc" class="col-sm-4">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<label for="email"><b>Email:</b></label>
<input type="text" placeholder="Enter Email" name=admin[email]>
<br>
<br>
<label for="password"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name=admin[password]>
<br>
<br>
<button type="submit">Login</button>


<% else %>

<h2> Login </h2>
  <br>
  <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="col-sm-4"

  <label for="email"><b>Email:</b></label>
  <input type="text" placeholder="Enter Email" name=user[email]>
  <br>
  <br>
  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name=user[password]>
  <br>
  <br>
  <button type="submit" class="col-sm-4">Login</button>
  </div>
  <br>
  <br>
  <div class="btn white darken-4 col-sm-4">
     <a href="/auth/google_oauth2" style="text-transform:none">
         <div class="left">
             <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         </div>
         Login with Google
     </a>
</div>
  <br>
  <br>

  <br>
  <p><%= link_to('Admin? Log in here', admin_login_url, :class => "btn col-sm-4") %> </p>
  <%end%>

  <%end%>
