<script type="text/javascript" charset="utf-8">
    $(document).ready(displayBreed);
    </script>

<div id="breed-header">
</div>
<div id="breed-table">
</div>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Full-Bred</th>
    <th>Owned?</th>
  </tr>

